<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New workout</title>
</head>
<body>
  <H1>Current workout</H1>
  <form action="#" th:action="@{/currentWorkout}" th:object="${exercises}" method="post">
    <br><br>
    <div id="container_dd">
      <select>
        <option >New exercise</option>
        <option th:each="exercise : ${exercises}"
                th:value="${exercise.getName}"
                th:text="${exercise.getName}"></option>

      </select>
      <br><br>
    </div>

    <input type="submit" value="Add set"/>
  </form>
  <input type="button" onclick="window.location.href='/homepage'" value="Back to homepage">
</body>
</html>