<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete exercise</title>
</head>
<body>
<h1>Exercise Collection</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:each="exercise: ${exercises}"
            th:value="${exercise.getName}"
            th:text="${exercise.getName}"></td>
    </tr>
    </tbody>
</table>
<input type="button" onclick="window.location.href='/exercise'" value="Add new exercise">
<!--<div th:switch="${exercises}">
    <h2 th:case="null">No exercises yet</h2>
    <div th:case="*">
        <h2>Exercises</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exercise : ${exercises}">
                <td th:text="${exercise : name}"></td>
                <td th:text="${exercise : user}"></td>
                <td><a th:href="@{/delete/{id}(id=${exercise.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>-->
<input type="button" onclick="window.location.href='/homepage'" value="Back to homepage">
</body>
</html>