<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete exercise</title>
</head>
<body>
<h1>Exercise Collection</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="exercise: ${exercises}">
            <td
                th:value="${exercise.getName}"
                th:text="${exercise.getName}"></td>
        </tr>
    </tbody>
</table>
<input type="button" onclick="window.location.href='/exercise'" value="Add new exercise">

<input type="button" onclick="window.location.href='/homepage'" value="Back to homepage">
</body>
</html>