<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout Tracker</title>
</head>
<body>

<div th:switch="${workouts}">
    <h2 th:case="null">No Workouts yet!</h2>
    <div th:case="*">
        <h2>Workouts</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Exercises</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workout : ${workouts}">
                <td th:text="${workout.date}"></td>
                <td th:text="${workout.exercises}"></td>
                <td><a th:href="@{/delete/{id}(id=${workout.ID})}">Delete</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addworkout">Add a new workout</a></p>
</div>

</body>
</html>