<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout Tracker</title>
</head>
<body>

<input type="button" onclick="window.location.href='/exercise'" value="Exercises">
<input type="button" onclick="window.location.href='/exerciseCollection'" value="Exercise collection">
<input type="button" onclick="window.location.href='/workout'" value="Workout">
<input type="button" onclick="window.location.href='/template'" value="Template">
<input type="button" onclick="window.location.href='/historical'" value="Historical data">
</body>
</html>