<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <h1>Workout trakcer</h1>
        <div class="login-text">
            <h2>Login to your account</h2>
        </div>
        <div class="row">
            <form action="#" th:action="@{/login}" th:object="${user}"  method="post">
                <input type="text" name="username" id="username" th:field="*{username}" class="username-text"/>
                <input type="password" name="password" id="password" th:value="*{password}"/>
                <input type="submit" value="Login"/>
            </form>
        </div>
    <input type="button" onclick="window.location.href='/signup'" value="Create account">
</body>
</html>