<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login to your account</h2>
<form action="#" th:action="@{/login}" th:object="${user}"  method="post">
    <input type="text" name="username" id="username" th:field="*{username}"/>
    <input type="password" name="password" id="password" th:value="*{password}"/>
    <input type="submit" value="Login"/>
</form>
<input type="button" onclick="window.location.href='/signup'" value="Create account">
</body>
</html>