<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New workout</title>
</head>
<body>

<h2>New workout</h2>
<form action="#" th:action="@{/workout}" th:object="${workout}" method="post">
    <select>
        <option value="apple">Apple</option>
    </select>
    <p>Set 1</p>
    <input type="text" name="weightDist" id="weightDist" th:field = "*{weightDist}"/>
    <input type="text" name="repsTime" id="repsTime" th:field = "*{repsTime}"/>
</form>

</body>
<script>

</script>
</html>