<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New workout</title>
</head>
<body>

<h1>Log new workout</h1>
<form action="#" th:action="@{/workout}" th:object="${workout}" method="post">

    <br><br>
    <div id="container_dd">
        <select>
            <option value="0">New workout</option>
            <option th:each="workout : ${templates}"
                    th:value="${workout.getName}"
                    th:text="${workout.getName}"></option>
        </select>
        <br><br>
    </div>

    <!--<select class="form-control" id="testOrder" name="testOrder">
        <option value="">Select Test Order</option>
        <option th:each="test : ${tests}"
                th:value="${test.testCode}"
                th:text="${test.testCode}+' : '+${test.testName}"></option>
    </select> !-->


    <input type="submit" value="Start workout"/>
</form>
<br><br>


<input type="button" onclick="window.location.href='/homepage'" value="Cancel workout">

</body>

</html>
