<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Redirecting</title>
</head>
<body>
<h1>Redirecting</h1>
<!--<table>
  <thead>
  <tr>
    <th th:each="template: ${templates}"
        th:value="${template.getName}"
        th:text="${template.getName}">Name</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="template: ${templates}">
    <td
            th:each="exercise: ${template.getExercises}"
            th:value="${exercise.getName}"
            th:text="${exercise.getName}"></td>
  </tr>
  </tbody>
</table>-->

<input type="button" onclick="window.location.href='/homepage'" value="Back to homepage">
</body>
</html>